# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore all build files
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Additional CMake temporary files
CMakeScripts/
Testing/
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt

# Logs & Debugging Files
*.log
*.trace

# IDE-specific files
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
